.wrapper {
  padding: 1rem;
}

.dateTitle {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
  font-size: 0.75rem;
  letter-spacing: 0.069rem;
  color: #677784;
}

.dateValue {
  font-weight: bold;
  line-height: 1.5;
  font-size: 1rem;
  letter-spacing: 0.069rem;
}

.secondDateValue {
  text-align: end;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1rem;
  letter-spacing: 0.069rem;
}
