.add-project-equivalency-cls {
  padding: 1rem;
  max-width: 900px;
  box-shadow: 0px 0px 2.5px 2.5px #e1dfdf;
}

.save-cancel-btn-cls {
  display: flex;
  justify-content: center;
}

.cancel-btn {
  margin-right: 1rem;
  color: #fff;
  box-shadow: none;
}
